

#coloca link do nosso servidor giros
#rotinas que usam ouvidoriapage, DenunciaPage
VITE_API_URL=url_site_servidor_giros

# Endpoints de envio
VITE_DENUNCIA_URL=url_endpoint_denuncia
VITE_OUVIDORIA_URL=url_endpoint_ouvidoria